<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	web.xml file for logger
 -->
<web-app id="WebApp_ID" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
  <display-name>jaxws.badproxy.logger</display-name>

  <servlet>
    <servlet-name>jaxws.badproxy.wsfvt.server.LogViewerPortImpl</servlet-name>
    <servlet-class>jaxws.badproxy.wsfvt.server.LogViewerPortImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>jaxws.badproxy.wsfvt.server.LogViewerPortImpl</servlet-name>
    <url-pattern>/logger</url-pattern>
  </servlet-mapping>  
  
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>
