<server>
    <include location="../fatTestPorts.xml"/>
    
    <featureManager>
        <feature>servlet-3.0</feature>
        <feature>jaxws-2.2</feature>
        <feature>ejbLite-3.1</feature>
        <feature>appSecurity-2.0</feature>
    </featureManager>
    
    <ssl id="defaultSSLConfig" keyStoreRef="MyKeyStore" trustStoreRef="MyTrustStore" />
    
    <keyStore id="MyKeyStore"   location="${server.config.dir}/etc/key.p12"   type="PKCS12" password="WebAS" />
    <keyStore id="MyTrustStore" location="${server.config.dir}/etc/trust.p12" type="PKCS12" password="WebAS" />
</server>
