<?xml version="1.0" encoding="UTF-8"?>
 <web-app id="WebApp_webserviceinterfaces"
   xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">

   <display-name>webresultannobeta</display-name>
   <servlet id="webresultannobeta">
         <servlet-name>annotations.webresult_g2.runtime.server.WRCBetaImpl</servlet-name>
         <servlet-class>annotations.webresult_g2.runtime.server.WRCBetaImpl</servlet-class>
         <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
         <servlet-name>annotations.webresult_g2.runtime.server.WRCBetaImpl</servlet-name>
         <url-pattern>/webresultannobeta</url-pattern>
   </servlet-mapping>
</web-app>
