<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!-- 
 1.1, 4/15/08
 Change History:
 Date     UserId      Defect          Description
 03/10/08 jramos      LIDB4418-12.01  New File
-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" id="WebApp_ID" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
</web-app>               