<?eclipse version="3.0"?>
<plugin
   id="com.ibm.wsfvt.wsdlvalidator"
   name="Web services FVT wsdlvalidator plugin"
   version="1.0"
   provider-name="IBM">

   <extension id="WSFVT-WSDLValidator-Server" name="WS FVT WSDL Validator (server)" 
 	     point="com.ibm.wsfp.main.ibmaxis2-wsdl-extension-validator-server">
     <plugin class="com.ibm.wsfvt.wsdlvalidator.WEVPlugin"/>
   </extension>
 
   <extension id="WSFVT-WSDLValidator-Client" name="WS FVT WSDL Validator (client)" 
 	     point="com.ibm.wsfp.main.ibmaxis2-wsdl-extension-validator-client">
     <plugin class="com.ibm.wsfvt.wsdlvalidator.WEVPlugin"/>
   </extension>
   
   <!-- this one is needed for the thin client factory tests --> 
    <extension id="WSFVT-WSDLValidator-Client" name="WS FVT WSDL Validator (client)" 
 	     point="com.ibm.wsfp.thinclient.ibmaxis2-wsdl-extension-validator-client">
     <plugin class="com.ibm.wsfvt.wsdlvalidator.WEVPlugin"/>
   </extension>

</plugin>
