<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
   <display-name>dontcare</display-name>
 
   <service-ref>
                <service-ref-name>service/metainf_webxmlref_WarClassesHelloService</service-ref-name>
                <service-interface>jaxwsejbinwar.generatedclient.EjbInWarClassesHelloService</service-interface>
     </service-ref>
     
	  <service-ref>
                <service-ref-name>service/metainf_webxmlref_ServletWarLibHelloService</service-ref-name>
                <service-interface>jaxwsejbinwar.generatedclient.ServletInWarLibHelloService</service-interface>
     </service-ref>     
	 
</web-app>