<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_webserviceinterfaces"
   		 xmlns="http://java.sun.com/xml/ns/javaee"
   		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   	     version="2.5">
   	     
	<display-name>FieldPrimitiveValImplService</display-name>
	<servlet id="fieldprimitiveval">
	      <servlet-name>annotations.resource.primitiveval.fieldprimitivevalserver.FieldPrimitiveValImpl</servlet-name>
	      <servlet-class>annotations.resource.primitiveval.fieldprimitivevalserver.FieldPrimitiveValImpl</servlet-class>
	      <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	      <servlet-name>annotations.resource.primitiveval.fieldprimitivevalserver.FieldPrimitiveValImpl</servlet-name>
	      <url-pattern>/services/FieldPrimitiveValImplService</url-pattern>
	</servlet-mapping>
	<env-entry>
     	  <description>port number for test</description>     	  
     	  <env-entry-name>port</env-entry-name>
     	  <env-entry-value>700</env-entry-value>
     	  <env-entry-type>java.lang.Integer</env-entry-type>
    </env-entry>	
</web-app>