<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_webserviceinterfaces"
   		 xmlns="http://java.sun.com/xml/ns/javaee"
   		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   	     version="2.5">
   	     
	<display-name>FieldConflictTypeImplService</display-name>
	<servlet id="fieldconflicttype">
	      <servlet-name>annotations.resource.conflict.fieldconflictserver.FieldConflictTypeImpl</servlet-name>
	      <servlet-class>annotations.resource.conflict.fieldconflictserver.FieldConflictTypeImpl</servlet-class>
	      <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	      <servlet-name>annotations.resource.conflict.fieldconflictserver.FieldConflictTypeImpl</servlet-name>
	      <url-pattern>/services/FieldConflictTypeImplService</url-pattern>
	</servlet-mapping>
</web-app>