<?xml version="1.0" encoding="UTF-8"?>
 <!-- common web.xml for all 4 ear files -->
 <web-app id="WebApp_webserviceinterfaces"
   xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">

   <display-name>HandlerChainCheckDefaults</display-name>
   <servlet id="HandlerChainCheckDefaults">
         <servlet-name>annotations.handlerchain.checkdefaults.server.AddNumbersImpl</servlet-name>
         <servlet-class>annotations.handlerchain.checkdefaults.server.AddNumbersImpl</servlet-class>
         <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
         <servlet-name>annotations.handlerchain.checkdefaults.server.AddNumbersImpl</servlet-name>
         <url-pattern>/HandlerChainCheckDefaults</url-pattern>
   </servlet-mapping>
</web-app>