<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
   1.0   
 Change History:
 Date     UserId      Defect          Description
 09/25/06 jtnguyen    LIDB3402-07.01  New File
-->
            
<web-app id="WebApp_ID"
   xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">


   <display-name>MTOMDefaultSetting</display-name>
   
   <servlet id="JAXBImageJpegService">
      <servlet-name>mtom.defaultsetting.wsfvt.server.JAXBImageJpegService</servlet-name>
      <servlet-class>mtom.defaultsetting.wsfvt.server.JAXBImageJpegService</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   
   <servlet id="JAXBTextPlainService">
      <servlet-name>mtom.defaultsetting.wsfvt.server.JAXBTextPlainService</servlet-name>
      <servlet-class>mtom.defaultsetting.wsfvt.server.JAXBTextPlainService</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   
   <servlet id="ProviderSourceSOAP11HTTPPayloadService">
      <servlet-name>mtom.defaultsetting.wsfvt.server.ProviderSourceSOAP11HTTPPayloadService</servlet-name>
      <servlet-class>mtom.defaultsetting.wsfvt.server.ProviderSourceSOAP11HTTPPayloadService</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   
         
   <servlet-mapping>
     <servlet-name>mtom.defaultsetting.wsfvt.server.JAXBImageJpegService</servlet-name>
     <url-pattern>/JAXBImageJpegService</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
     <servlet-name>mtom.defaultsetting.wsfvt.server.JAXBTextPlainService</servlet-name>
     <url-pattern>/JAXBTextPlainService</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
     <servlet-name>mtom.defaultsetting.wsfvt.server.ProviderSourceSOAP11HTTPPayloadService</servlet-name>
     <url-pattern>/ProviderSourceSOAP11HTTPPayloadService</url-pattern>
   </servlet-mapping>

</web-app>
