<?xml version="1.0" encoding="UTF-8"?>
 <web-app id="WebApp_webserviceinterfaces"
   xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">
   
   <!-- manually remapping two services with same servicename to 
        different url's so we can use same client on both 
    -->


   <display-name>webserviceinheritance</display-name>
 
   <servlet id="websvcinhimpl">
         <servlet-name>annotations.webservice_g2.inheritance.server.BottomImpl</servlet-name>
         <servlet-class>annotations.webservice_g2.inheritance.server.BottomImpl</servlet-class>
         <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
         <servlet-name>annotations.webservice_g2.inheritance.server.BottomImpl</servlet-name>
         <url-pattern>/BottomImplService</url-pattern>
   </servlet-mapping>
   <!--
   <servlet id="websvcinhsei">
         <servlet-name>annotations.webservice_g2.inheritance.server.BottomImplWithSei</servlet-name>
         <servlet-class>annotations.webservice_g2.inheritance.server.BottomImplWithSei</servlet-class>
         <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
         <servlet-name>annotations.webservice_g2.inheritance.server.BottomImplWithSei</servlet-name>
         <url-pattern>/BottomImplWithSeiService</url-pattern>
   </servlet-mapping>
   -->
</web-app>
