<?xml version="1.0" encoding="UTF-8"?>

<!--
   1.1, 07/20/06

   Change History:
   Date        UserId         Feature/Defect          Description
   07/20/2006  mzheng                                 New File
-->

<web-app id="WebApp_ID" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet id="Servlet_1">
    <servlet-name>jaxws.clienthandlers.wsfvt.server.EchoMessageSOAP11Impl</servlet-name>
    <servlet-class>jaxws.clienthandlers.wsfvt.server.EchoMessageSOAP11Impl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jaxws.clienthandlers.wsfvt.server.EchoMessageSOAP11Impl</servlet-name>
    <url-pattern>/EchoMessageSOAP11Service</url-pattern>
  </servlet-mapping>

  <servlet id="Servlet_2">
    <servlet-name>jaxws.clienthandlers.wsfvt.server.EchoMessageSOAP12Impl</servlet-name>
    <servlet-class>jaxws.clienthandlers.wsfvt.server.EchoMessageSOAP12Impl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jaxws.clienthandlers.wsfvt.server.EchoMessageSOAP12Impl</servlet-name>
    <url-pattern>/EchoMessageSOAP12Service</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>
