<?xml version="1.0" encoding="UTF-8"?>


<!--
  Description: 

  Change History:

  Date        UserId         Feature/Defect    Description
  10/05/2006  mzheng         LIDB3296-46.01    New File
-->


<web-app id="WebApp_ID" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

  <servlet id="Servlet_1">
    <servlet-name>jaxws.wsdlfaults.wsfvt.server.inventory.InventoryImpl</servlet-name>
    <servlet-class>jaxws.wsdlfaults.wsfvt.server.inventory.InventoryImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jaxws.wsdlfaults.wsfvt.server.inventory.InventoryImpl</servlet-name>
    <url-pattern>/InventoryService</url-pattern>
  </servlet-mapping>

  <servlet id="Servlet_2">
    <servlet-name>jaxws.wsdlfaults.wsfvt.server.inventory.InventoryProviderImpl</servlet-name>
    <servlet-class>jaxws.wsdlfaults.wsfvt.server.inventory.InventoryProviderImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jaxws.wsdlfaults.wsfvt.server.inventory.InventoryProviderImpl</servlet-name>
    <url-pattern>/InventoryProvider</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>

</web-app>
