<?xml version="1.0" encoding="UTF-8"?>

<!--
    
    @(#) 1.1 autoFVT/src/jaxws/xmlcatalog/etc/hellowar/web.xml, WAS.websvcs.fvt, WAS85.FVT, cf011231.01 6/30/09 10:50:37 [8/8/12 06:09:25]
    
    Change History:
    Date       UserId              Feature/Defect          Description
    ****************************************************************************
    06/29/2009 samerrel            552420                  New File
    
-->

<web-app
    id="jaxws.xmlcatalog.wsfvt.service.HelloWar"
    version="2.5"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
>
    <display-name>xmlcatalog-hellowar</display-name>
</web-app>
