// Change History:
// Date        UserId       Defect      Description
// --------------------------------------------------------------------------
// 09/18/2007  mzheng       467998      New file
//

grant codeBase "file:${application}" {
  permission java.security.AllPermission;
};

