<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
   <display-name>a1m3</display-name>

   <service-ref>
        <service-ref-name>java:module/env/service/a1m3b1</service-ref-name>
        <service-interface>scopedrefs.generatedclients.app1.mod3.b1.B1Service</service-interface>
    </service-ref>
    
 
</web-app>