<?xml version="1.0" encoding="UTF-8"?>                                                        
<web-app>                                                                                          
  <display-name>MultipleExceptions</display-name>                                                            
  <description>MultipleExceptions</description>                                                              
  <listener>                                                                                       
    <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
  </listener>                                                                                      
  <servlet>                                                                                        
    <servlet-name>MultipleExceptions</servlet-name>                                                          
    <display-name>MultipleExceptionse</display-name>                                                          
    <description>JAX-WS endpoint - MultipleExceptions</description>                                          
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>                 
    <load-on-startup>1</load-on-startup>                                                           
  </servlet>                                                                                       
  <servlet-mapping>                                                                                
    <servlet-name>MultipleExceptions</servlet-name>                                                             
    <url-pattern>/MultipleExceptions</url-pattern>                                                        
  </servlet-mapping>                                                                               
  <session-config>                                                                                 
    <session-timeout>60</session-timeout>                                                          
  </session-config>                                                                                
</web-app>                                                                                         
